*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 60%;
  margin: 20px auto;
}

.red{
  color: magenta;
}

.blue{
  color: cyan;
}

.yellow{
  color: yellow;
}

.upper{
  text-transform: uppercase;
}

.under{
  text-decoration: underline;
}

.italic{
  font-style: italic;
}

.hide{
  display: none;
}

.rotating-button {
  transition: transform 0.6s;
}

.rotating-button.rotate {
  transform: rotate(13320deg);
}